<!--
<div class="row">
  <div class="col">
    <h2>Techniques and Tricks</h2>
    <ul class="list-group">
      <li *ngFor="let trick of tricks" class="list-group-item"
          [class.selected] = "trick === selectedTrick"
          (click)="onSelect(trick)">
          {{trick.name}}
      </li>
    </ul>
  </div>
  <div class="col">
    <app-trick-detail [trick]="selectedTrick"></app-trick-detail>   
  </div>
</div>
-->

<div class="row">
  <div class="col">
    <kendo-grid [data]="gridData" [height]="400">
        <kendo-grid-column media="(max-width: 450px)" title="Items">
            <ng-template kendoGridCellTemplate let-dataItem>
                <dl>
                    <dt (click)="onSelect(trick)">Description</dt>
                    <dd>{{ dataItem.description }}</dd>
    
                    <dt>Difficulty</dt>
                    <dd>{{ dataItem.difficulty }}</dd>
    
                    <dt>Video URL</dt>
                    <dd>{{ dataItem.url }}</dd>
                </dl>
            </ng-template>
        </kendo-grid-column>
    
        <!-- columns for mid-size devices -->
        <kendo-grid-column media="(min-width: 150px)" field="description" title="Trick Description">
            <ng-template kendoGridCellTemplate let-dataItem>
                <h3 [innerHtml]="dataItem.name"></h3>
                <p [innerHtml]="dataItem.description"></p>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column media="(min-width: 400px)" field="url" title="Video URL" width="400">
            <ng-template kendoGridCellTemplate let-dataItem>
                <video height="300" width="400" controls [src] = "dataItem.url" ></video>
            </ng-template>            
        </kendo-grid-column>
    </kendo-grid>
  </div>
</div>