main{
  display: flex;
  width: 90%;
  margin: 5% auto;
  
  .scheduler{
    flex: 1 1;
  }
  .event-form{
    flex: 1 1;
  }
  
  .col{
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
  }

}